<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head dat-th-replace="~{/layouts/header :: head}">

	</head>
	<body>
		<!-- Footer -->
    <footer class="bg-dark text-white text-center py-3 mt-4">
        <div class="container">
            <p>Contacto: Ítalo Palanca Nº 10, San Salvador de Jujuy, Jujuy, Argentina | Teléfono: +54 388 1234567 | Email: info@fi.unju.edu.ar</p>
            <p>Síguenos en:
                <a href="#" class="text-white me-2">Facebook</a>
                <a href="#" class="text-white me-2">Twitter</a>
                <a href="#" class="text-white">Instagram</a>
            </p>
            <p>&copy; 2024 Facultad de Ingeniería - UNJu. Todos los derechos reservados.</p>
        </div>
    </footer>
	</body>
</html>